.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-top: 12px;
  ul {
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    li {
      margin: 0 12px;
      color: #00bcd4;
      cursor: pointer;
    }
  }
}
